NotificationContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  min-height: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  z-index: 999;
  
  Notification {
    width: 100%;
    min-height: 10px;
    background-color: rgba(47, 37, 46, 0.85);
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    transition: all 1s ease-in-out;
    transform: translateX(0px);
    position: relative;
    
    &:intro {
      transform: translateX(50vw);
    }
    
    &:outro {
      transform: translateX(50vw);
    }
    
    > .Progress {
      position: absolute;
      left: 0;
      bottom: -2.5px;
      height: 2.5px;
      background-color: #FFFFFF;
      width: 100%;
      transition: width 1.5s ease-out;
    }
    
    .ContainerMessage {
      flex-grow: 1;
      padding: 10px;
      
      .Message {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        letter-spacing: 1.2px;
      }
    }
    
    .ContainerIcon {
      height: 100%;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-right: 1px solid white;
      
      .Icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}